# Even Holthe's zshrc
export ZSH=$HOME/.oh-my-zsh

# The default theme is nice
ZSH_THEME="robbyrussell"

# Oh my ZSH plugins to use
plugins=(git osx git-extras sublime zsh-syntax-highlighting docker docker-compose helm)

# Initialize oh my zsh
source $ZSH/oh-my-zsh.sh

# Use vim <3 for editing
export EDITOR=vim

# UTF-8
export LC_ALL=no_NO.UTF-8
export LANG=no_NO.UTF-8

# Thefuck
alias fuck='$(thefuck $(fc -ln -1))'

# Use OpenSSL (for experimenting with softhsm)
export PATH="/usr/local/opt/openssl/bin:$PATH"

# Go
export GOPATH=$HOME/dev/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

{{- if eq .chezmoi.hostname "EvensMBPr" }}

# Google Cloud SDK
source '/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc'
source '/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc'

# Python
export PATH="/usr/local/opt/python/libexec/bin:$PATH"

# MacOS
alias lockmac='pmset displaysleepnow'

# Node 8
export PATH="/usr/local/opt/node@8/bin:$PATH"

{{- end }}

# Kubernetes autocomplete (the ZSH plugin didn't work)
source <(kubectl completion zsh)
alias kcd='kubectl config set-context $(kubectl config current- context) --namespace '

# rbenv
if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi

# Dev infra
export PATH="$HOME/dev/dev-infra:$PATH"
alias infra='infra.sh'

# Java Home
export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"
export PATH=$JAVA_HOME/bin:$PATH
